{% extends 'base.html.twig' %}

{% block title %}Create Department{% endblock %}

{% block body %}
    <h1>Create New Department</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.departmentName, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(form) }}
{% endblock %}
